/* Cambia color del header */
.md-header {
    background-color: #56c2ef;
}

/* Cambia color de la navegación que te sale a la izquierda al no tener maximizada la ventana,
    pero aparecen otros cambios en la pagina si se maximiza */
.md-nav--primary .md-nav__title[for=__drawer] {
    background-color: var(--md-primary-bg-color); /* posibilidad de cambiarlo pero no se si es por aqui */
    color: var(--md-primary-bg-color);
    font-weight: 700;
}


@media print {

    body {
        background-color: transparent !important;
    }

    article {
        page-break-before: always!important;
    }

    article#doc-cover > .wrapper h2 {
        border-bottom: 0px !important;
    }
    article#doc-cover > .wrapper.upper {
        display: flex;
        justify-content: center;
    }

    article#doc-cover > .wrapper.upper > .logo {
        width: 60% !important;
        margin-top: 30px;
    }
    
    section + section {
        page-break-before: avoid!important;
    }

    .enumerate-headings-plugin {
        display: none!important;
    }

    h1 {
        page-break-before: avoid !important;
        border-bottom: 1.5px solid rgb(1, 60, 172)!important;
    }

    h2 {
        border-bottom: 1px solid rgb(4, 76, 209)!important;
    }

    h3 {
        border-bottom: 0.5px solid rgb(38, 111, 248)!important;
    }
    
    .cuerpo {
        text-align: justify !important;
    }

    .parrafo {
        font-size: 0.8rem !important;
    }

    code {
        font-size: 0.65rem !important;
    }
}

